[user]
    email = etr@zencoders.org
    name = Sebastiano Merlino
[color]
    branch = auto
    status = auto
    diff = auto
    ui = auto
[core]
    ui = true
    interactive = true
    compression = 9
    whitespace = trailing-space,space-before-tab
    editor = vim
    pager = less -r
    repositoryformatversion = 0
    filemode = true
    bare = false
    logallrefupdates = true
[push]
    default = upstream
[branch]
    autosetuprebase = always
[alias]
    dry-push = push -n
    wu = log --stat origin..@{0}
    up = pull --rebase
    st = status
    ci = commit
    co = checkout
    br = branch
    df = diff --color-words
    ll = log -p --stat --abbrev-commit
    glog = log --graph --decorate --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    complete-log = log --graph --decorate --tags --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    serve = daemon --reuseaddr --verbose --base-path=. --export-all --enable=receive-pack ./.git
    list-changed = ! git status -s | awk '/^.M/ {print $2}'
    list-untracked = ! git status -s | awk '/^\\?\\?/ {print $2}'
    list-unmerged = ! git status -s | awk '/^.U/ {print $2}'
    list-staged = ! git status -s | awk '/^[AM]/ {print $2}'
    list-added = ! git status -s | awk '/^[AM]/ {print $2}'
[grep]
    lineNumber = true
[color "grep"]
    lineNumber = yellow
[commit]
    template = /home/etr/.gitmessage
